* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    height: 100vh;
    border: 3px solid red;
    background-color: #9dd2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}



nav {
    margin-top: 70px;

    display: flex;
    align-items: center;
    gap: 35px;

    font-size: 25px;
}

nav a {
    text-decoration: none;
    color: red;
    cursor: pointer;
}

nav span {
    color: red;
}




.box {
    width: 70%;
    height: 500px;

    margin-top: 35px;

    background-color: #fff09b;
    border: 3px solid #a63db5;

    display: flex;
    justify-content: center;
    align-items: center;
}




.text1 {
    text-align: center;
    color: #a63db5;

    font-size: 22px;
    font-weight: bold;
}

.text2 {
    text-align: center;
    color: #a63db5;

    font-size: 22px;
    font-weight: bold;
    display: none;
}
.text3 {
    text-align: center;
    color: #a63db5;

    font-size: 22px;
    font-weight: bold;
    display: none;
}

.text p {
    margin: 5px 0;
}