* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh; 
    border: 3px solid red;
    display: flex;
    justify-content: start;
    align-items: start;
}

.close{
    position: absolute;
    top: 10px;
    left: 75px;  
    background-color: #e9a3b5;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer; 
    z-index: 10;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.bar{
    height: 99vh;
    width: 20vh;
    background-color: #9ed0f3;
    position: relative;
    transform: translateX(0);
    transition: transform 0.5s ease;
}